global:
  scrape_interval: 30s
  scrape_timeout: 25s

rule_files:
  - '/etc/prometheus/alerting/*'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'openstack'
    static_configs:
      - targets: ['{{ openstack_exporter_host }}:{{ openstack_exporter_port }}']

  - job_name: 'libvirt'
    scrape_timeout: 55s
    scrape_interval: 1m
    static_configs:
      - targets: [
          {% for libvirt_exporter_host in groups[monitoring_group_name] %}
            '{{ libvirt_exporter_host }}:{{ libvirt_exporter_port }}',
          {% endfor %}
        ]

  - job_name: 'node'
    static_configs:
      - targets: [
          {% for host in groups[monitoring_group_name] %}
            '{{ host }}:{{ node_exporter_port }}',
          {% endfor %}
        ]

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: ['{{ grafana_server_addr }}:{{ alertmanager_port }}']
